doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-3.0.0.js')
    script(src='/javascripts/echo_cookies.js')
  body
    block content
    