body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.topic-baby {
    width: 900px;
    height: 500px;
    background-image: url("/images/gold.001.png");
}
